.cards {
  padding: 20px 0 40px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.cards__container {
  padding: 0;
  margin: 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 40px 20px;
  max-width: 100%;
}

@media screen and (max-width: 455px) {
  .cards {
    padding-bottom: 20px;
  }
  .cards__container {
    grid-template-columns: repeat(auto-fit, 288px);
    row-gap: 20px;
  }
}
