.card {
  list-style-type: none;
  width: 413px;
}

.card__image {
  display: block;
  object-fit: cover;
  width: 413px;
  height: 413px;
  border-radius: 8px;
  margin-bottom: 8px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  height: 24px;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 330px;
}

.card__like-button {
  background: center transparent no-repeat url(../images/like.svg);
  width: 23px;
  height: 20px;
  border: none;
  opacity: 40%;
  padding: 0;
  margin: 0;
  transition: opacity 0.3s ease-in-out;
}

.card__like-button:hover {
  opacity: 100%;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .card {
    width: 288px;
  }

  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__content {
  }

  .card__title {
    font-size: 16px;
    max-width: 230px;
    align-content: center;
  }

  .card__like-button {
    width: 20px;
    height: 18px;
    padding: 12px;
  }
}
