.card {
  list-style-type: none;
  max-width: 100%;
  position: relative;
  cursor: pointer;
}

.card__image {
  display: block;
  object-fit: cover;
  width: 413px;
  height: 413px;
  border-radius: 8px;
  margin-bottom: 12px;
  cursor: pointer;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
}

.card__like-button {
  background: center transparent no-repeat url(../images/like.svg);
  width: 23px;
  height: 20px;
  border: none;
  opacity: 0.4;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.card__like-button:hover {
  opacity: 1;
}

.card__like-button_active {
  background: center transparent no-repeat url(../images/liked.svg);
  opacity: 1;
}

.card__like-button_active:hover {
  opacity: 0.4;
}

.card__delete-button {
  background: center transparent no-repeat url(../images/delete.svg);
  width: 32px;
  height: 32px;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  position: absolute;
  top: 10px;
  right: 10px;
}

.card__delete-button:hover {
  background: transparent no-repeat url(../images/delete+hover.svg);
}

@media screen and (max-width: 455px) {
  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__title {
    font-size: 16px;
    max-width: 230px;
    align-content: center;
  }

  .card__like-button {
    width: 20px;
    height: 18px;
    padding: 12px;
  }
}
