.footer {
  line-height: 1;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  padding: 60px 0;
}

.footer__copyright {
  margin: 0;
}

@media screen and (max-width: 658px) {
  .content {
    padding: 0 16px;
  }
}
