.modal {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  opacity: 0;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 8px;
  width: 100%;
  max-width: 730px;
  display: flex;
  gap: 32px;
  flex-direction: column;
  padding: 32px 50px;
}

.modal__container_preview {
  box-sizing:unset;
  background:unset;
  border: none;
  max-width:fit-content;
  gap: 8px;
  align-items: center;
  }


.modal__row {
  display: flex;
  justify-content: space-between;
}

.modal__row_preview {
  gap: 12.5px;
}

.modal__title {
  font-size: 32px;
  line-height: 1;
  font-weight: 500;
  margin: 0;
}

.modal__close-btn {
  width: 40px;
  height: 40px;
  background: center transparent no-repeat url(../images/close.svg);
  border: none;
  opacity: 0.4;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.modal__close-btn_type_preview {
  background: center transparent no-repeat url(../images/preview-close.svg);
  opacity: 1;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__close-btn_type_preview:hover {
  opacity: 0.4;
}

.modal__image {
  border-radius: 8px;
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
  display: block;
}

.modal__caption {
  font-size: 20px;
  line-height: 1.2;
  color: #fff;
  background-color: #212121;
  border-radius: 8px;
  margin: 0;
  padding: 4px 8px;
  margin-top: 8px;
  max-width: 214px;
  text-align: center;
}

.modal__caption_preview {
  margin-top: 0;
  align-self: flex-start;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.modal__label {
  font-size: 16px;
  line-height: 1.1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  opacity: 1;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  max-width: 630px;
  padding: 16px 12px;
  transition: border-color 0.3s ease-out;
}

.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.3);
}

.modal__input:focus {
  outline: none;
  border-color: rgba(33, 33, 33, 100%);
}

.modal__input:hover {
  border-color: rgba(33, 33, 33, 100%);
}

.modal__save-btn {
  color: #fcf5e5;
  background-color: #212121;
  max-width: 156px;
  width: 100%;
  padding: 18px 32px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.modal__save-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 850px) {
  .modal {
    padding: 10px;
  }

  .modal__container {
    padding: 12px;
  }
}

@media screen and (max-width: 658px) {
  .modal__form {
    gap: 24px;
    max-width: 455px;
    width: 100%;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__row_preview {
    flex-direction: column;
    align-items: flex-end;
  }

  .modal__image {
    order: 2;
    width: 100%;
  }

  .modal__close-btn {
    order: 1;
  }
}

@media screen and (max-width: 455px) {
  .modal_type_preview {
    padding: 0 16px;
  }
  .modal__container {
    max-width: 300px;
    align-items: center;
  }

  .modal__container_preview {
    padding: 0;

  }
.modal__title {
  font-size: 20px;
  align-self: center;
}

  .modal__row {
    max-width: 276px;
    width: 100%;
  }

  .modal__row_preview {
    max-width: 288px;
    gap: 8px;
  }

  .modal__form {
    max-width: 276px;
  }
  .modal__save-btn {
    max-width: 276px;
  }

  .modal__caption {
    font-size: 16px;
    max-width: 175px;
  }

  .modal__image {
    border-radius: 4px;
    max-width: unset;
    max-height: none;
  }
}
